/* ==========================
   PRODUCT DETAIL LAYOUT
========================== */

.back-container{

    max-width:1400px;

    margin:25px auto 10px;

    padding:0 20px;

}

.back-button{

    display:flex;

    align-items:center;

    gap:8px;

    border:none;

    background:transparent;

    color:#2563EB;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.25s;

}

.back-button:hover{

    color:#1D4ED8;

    transform:translateX(-4px);

}

.product-detail{

    max-width:1400px;


    margin:40px auto;

    padding:0px;

    display:grid;

    grid-template-columns:1fr 1.2fr 340px;

    gap:40px;

    align-items:start;
}


.product-bottom{
    max-width:1400px;
    margin:5px auto;
    padding: 10px 20px;

    display:grid;
    grid-template-columns:35% 65%;
    gap:25px;

    align-items:start;
}

.right-column{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.product-specs{
    width:100%;
}

.review-question-wrapper{
    max-width:1400px;
    margin:35px auto;
    display:grid;
    grid-template-columns:65% 35%;
    gap:25px;
    align-items:start;
}