.admin-sidebar{
    width:260px;
    background:#16213E;
    color:#fff;

    display:flex;
    flex-direction:column;

    padding:30px 0;
}

.admin-sidebar-logo{
    padding:0 25px 30px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.admin-sidebar-logo h2{
    margin:0;
    font-size:24px;
    font-weight:700;
}

.admin-sidebar-logo span{
    font-size:14px;
    color:#B8C1D1;
}

.admin-sidebar-menu{
    display:flex;
    flex-direction:column;
    margin-top:25px;
}

.admin-sidebar-menu a{
    padding:16px 25px;
    color:#D9E1F2;
    text-decoration:none;
    font-size:16px;
    transition:.3s;
}

.admin-sidebar-menu a:hover{
    background:#243B64;
}

.admin-sidebar-menu a.active{
    background:#2563EB;
    color:#fff;
}